<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>todolist</title>
  <script src="../src/vue.js"></script>
</head>
<body>
  <div id="todo-list">
    <input type="text" v-model="addNodeList" @keyup.enter="addList" placeholder="add to do"/>
    <button @click="danTodos">只显示单数</button>
    <button @click="twoTodos">只显示双数</button>
    <button @click="showTodos">显示原来的</button>
    <p>{{copyTodos}}</p>
    <ol>
      <li is="todo-item" v-for="(todo, index) in copyTodos"
          v-bind:title="todo"
          v-on:remove="todos.splice(index, 1)"
          ></li>
    </ol>
  </div>
  <script>
    Vue.component('todo-item',{
      template: '<li>'+
                  '{{title}}'+
                  '<button @click="$emit(\'remove\')">X</button>'+
                '</li>',
      props: ['title']
    })
    var app = new Vue({
      el: '#todo-list',
      data: {
        addNodeList: '',
        todos: [
          '安抚小白同学',
          '小白同学生病了',
          '让小白同学吃药'
        ],
        copyTodos: [
          '安抚小白同学',
          '小白同学生病了',
          '让小白同学吃药'
        ]
      },
      methods: {
        addList: function () {
          this.todos.push(this.addNodeList);
          this.copyTodos = this.todos;
          this.addNodeList = '';
        },
        danTodos: function(){
          this.copyTodos  =  this.todos.filter(function(val,index,arr){
            return (index+1)%2 !=0;
          })
        },
        twoTodos: function(){
          this.copyTodos = this.todos.filter(function(val,index,arr){
            return (index+1)%2 == 0;
          })
        },
        showTodos: function(){
          this.copyTodos = this.todos;
        }
      }
    })
  </script>
</body>
</html>
