<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>vue0</title>
  <script src="../src/vue.js"></script>
</head>
<body>
  <div id="app">{{ message }}
    <button v-if="see" @click="changeSee">v-if show</button>
    <button v-if="!see" @click="changeSee">v-if hide</button>
    <ul>
      <li v-for="todo in todos">{{ todo.text }}</li>
    </ul>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'hello vue',
        see: true,
        todos: [
          {text: '白'},
          {text: '芝'},
          {text: '红'}
        ]
      },
      methods: {
        changeSee: function () {
           this.see = !this.see
        }
      }
    })
  </script>
</body>
</html>
